<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Início - Loja IT</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
<body>
    <div>
        <header class="header flex flex-center">
            <h1 class="titulo">LOJA TI</h1>
        </header>

        <hr />
        <br />

        <div class="flex vertical flex-center">
            <h1 class="sub-titulo cor-vermelha">COMPRA CANCELADA</h1>
            <br /><br />
            <P class="text flex-center">
                Sua compra foi cancelada com sucesso.  
            </P>
        </div>
    </div>
</body>
</html>